.today-order-menu {
	&__dishes {
		padding: 0 1rem;
	}
}

.supplier {
	margin-bottom: 1rem;

	&__title {
		background: #5199db;
		color: #fff;
		padding: 0.5rem 1rem;
	}
}

.meal-category {
	&__title {
		background: #e4f3ff;
		padding: 0.3rem 1rem;
	}
}
